.input-wrapper{
  display: flex;
  position: relative;
  box-sizing: border-box;

  input{
    // border: none;
    // border-bottom: 2px solid;
    padding-left: 4px;
    height: 25px;
    width: 100%;
  }

  .suggestion-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: white;
    top: 30px;
    border: 1px solid gray;
    box-sizing: border-box;
    flex: 1;

    .suggestion-box{
      display: flex;
      justify-content: space-between;
      padding: 4px;
      border: 1px solid gray;
      align-items: center;
      background-color:floralwhite;

      .add-btn{
        border: 1px solid gray;
        padding: 4px;
        cursor: pointer;
      }

      .add-btn:hover {
        background-color: gray;
        color: white;
      }
    }    
  }
  
  .clear-btn{
    border: 2px solid black;
    padding: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    font-weight: bold;
    color: red;
    box-sizing: border-box;
  }

  .clear-btn:hover {
    background-color: gray;
    color: white;
  }
}