.stock-list {
  width: 20%;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: bolder;
  
  .heading {
    padding: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    background-color: dimgrey;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
  }

  .list {  
    display: flex;
    flex-direction: column;
    height: calc(100vh - 240px);
    overflow: auto;
    
    .symbol {
      border: 1px solid gray;  
      padding: 8px;  
      display: flex;
      margin: 2px;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background-color: aliceblue;

      .remove{
        position: absolute;
        right: 5%;
        visibility: hidden;
        border-radius: 50%;
        border: 4px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        color: red;
        font-weight: bold;
      }
    }

    .symbol:hover {
      border: 3px solid blue;
      cursor: pointer;
      background-color: white;

      .value{
        visibility: hidden;
      }
      .remove{
        visibility: visible;
      }
      .remove:hover{
        background-color: gray;
        color: white;
      }
    }

    .active-symbol {
      border: 3px solid black;
      background-color: lightgray;
    }
  }
}

@media only screen and (max-width: 775px) {
  .stock-list{
    .input-wrapper{
      .suggestion-wrapper{
        .suggestion-box{
          font-size: 12px;
        }
      }
    }
    .list{
      font-size: 10px;
      .symbol {
        padding: 0px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .stock-list{
    .input-wrapper{
      .suggestion-wrapper{
        .suggestion-box{
          font-size: 10px;
          padding: 0px;
        }
      }
    }
    .list{
      font-size: 10px;
      .symbol {
        padding: 4px;
        .value{
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 415px) {
  .stock-list{
    width: 22%;
    .list{
      font-size: 10px;
      .symbol {
        padding: 2px;
      }
    }
  }
}